<!--start register page-->
<div class="test">
  <form class="register_form">
    <div class="register_personaldata">
      <mat-form-field class="full-width">
        <mat-label>Vorname</mat-label>
        <input matInput id="input_firstname">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Nachname</mat-label>
        <input matInput id="input_name">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email"  id="input_email" placeholder="max.m@example.com">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Geburtsdatum</mat-label>
        <input matInput type="date" id="input_birthday">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Telefonnummer</mat-label>
        <span matPrefix>+49</span>
        <input matInput type="tel" #telNumber id="input_telnumber">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Passwort</mat-label>
        <input matInput type="password" id="input_password" #setPassword minlength="8">
        <mat-hint align="end">mind. 8 / {{setPassword.value.length}}</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Passwort bestätigen</mat-label>
        <input matInput type="password" #confirmPassword minlength="8" id="input_password_confirm">
        <mat-hint align="end">mind. 8 / {{confirmPassword.value.length}}</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Straße</mat-label>
        <input matInput type="text" id="input_street">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Hausnummer</mat-label>
        <input matInput type="number" id="input_streetNumber">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Postleitzahl</mat-label>
        <input matInput id="input_postcode" #postalCode maxlength="5" placeholder="07815">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Stadt</mat-label>
        <input matInput type="text" id="input_city">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Bundesland</mat-label>
        <input matInput type="text" id="input_state">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Land</mat-label>
        <input matInput disabled value="Deutschland" id="input_country">
      </mat-form-field>

      <app-time-selection (valueChanged)="onTimeChanged($event)">


      </app-time-selection>

      <mat-checkbox id="input_agb">AGB`s akzeptieren</mat-checkbox>
      <button mat-raised-button color="accent" id="register_button" (click)="onClickRegister();">Registrieren</button>

    </div>
  </form>
</div>
