<app-loc-selection *ngIf="showLocSelection" [assignedIds]="currentUserData.assignedLocations" (valueChanged)="onLocSelectionValueChanged($event)"></app-loc-selection>
<div *ngIf="!showLocSelection">
  <br />
  <div id="errorInputUserData"></div>
  <br />
  <div class="optionsHeadline">
    Nutzerdaten
  </div>
  <br /><br />
  <div class="options">
    <div id="tableUserData">
      <table>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>{{ getName().name1 }}</mat-label>
              <input matInput id="idFirstName" type="text" value="{{ getName().value1 }}" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>{{ getName().name2 }}</mat-label>
              <input matInput id="idLastName" type="text" value="{{ getName().value2 }}" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>{{ getBirthday().name }}</mat-label>
              <input matInput id="idBirthday" type="date" value="{{ getBirthday().value }}" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>{{ getPhoneNumber().name }}</mat-label>
              <input matInput id="idPhoneNumber" type="text" value="{{ getPhoneNumber().value }}" />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
    <div id="tablePasswordAndLocation">
      <table>
        <tr>
          <td>
            <mat-label>Passwort</mat-label>
            <br /><br />
            <button mat-raised-button (click)="updatePassword()">&Auml;ndern</button>
          </td>
        </tr>
        <br />
        <tr>
          <td>
            <mat-label>Meine Standorte</mat-label>
            <br /><br />
            <button mat-raised-button color="primary" (click)="onLocSelectionClick()">Ansehen und Ändern</button>
          </td>
        </tr>
      </table>
    </div>
    <br />
  </div>
  <br /><br /><br /><br />
  <br />
  <div id="errorInputAddressData"></div>
  <br />
  <div class="optionsHeadline">
    Adressdaten
  </div>
  <br /><br />
  <div class="options">
    <div id="tableAddressData">
      <table>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>{{ getStreetAndNumber().name1 }}</mat-label>
              <input matInput id="idAddressStreet" type="text" value="{{ getStreetAndNumber().value1 }}" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>{{ getStreetAndNumber().name2 }}</mat-label>
              <input matInput id="idAddressStreetNumber" type="text" value="{{ getStreetAndNumber().value2 }}" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>{{ getPostCodeAndCity().name1 }}</mat-label>
              <input matInput id="idAddressPostCode" type="text" value="{{ getPostCodeAndCity().value1 }}" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>{{ getPostCodeAndCity().name2 }}</mat-label>
              <input matInput id="idAddressCity" type="text" value="{{ getPostCodeAndCity().value2 }}" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>{{ getCountryAndState().name1 }}</mat-label>
              <input matInput id="idAddressCountry" type="text" value="{{ getCountryAndState().value1 }}" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>{{ getCountryAndState().name2 }}</mat-label>
              <input matInput id="idAddressState" type="text" value="{{ getCountryAndState().value2 }}" />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
    <div id="tableAvailableTime">
      <table>
        <tr>
          <td>
            <app-time-selection [selectedTimes]="currentUserData.operationalReadiness" (valueChanged)="onTimesSelected($event)"></app-time-selection>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br /><br /><br /><br /><br />
  <div id="errorInput"></div>
  <div align="center">
    <button mat-raised-button color="accent" (click)="checkInput()">Speichern</button>
  </div>
</div>

