.inputNotChangeable{
  width: 75%;
  padding: 12px 20px;
  margin-left: 15%;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input{
  width: 75%;
  padding: 12px 20px;
  margin-left: 15%;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus{
  border-color: #204d74;
}

input:hover{
  color: #337ab7;
  background-color: #fff;
}

.options{
  display: flex;
  font-size: 2em;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.optionsAddress{
  display: flex;
  font-size: 2em;
  width: 80%;
  margin-left: 10%;
}


.saveButton{
  width: 20%;
  margin-left: 40%;
}

#data{
  width: 100%;
}

p{
  background-color: lightcoral;
  flex: 1;
}
