.options{
  display: flex;
  font-size: 1.5em;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.optionsHeadline{
  display: flex;
  font-size: 2em;
  width: 100%;
  margin-left: 40.5%;
  color: red;
}

#data{
  width: 100%;
}

#errorInput{
  margin-left: 15%;
  font-size: 0.85em;
  color: #d40000;
}
