<div>
  <br />
  <div id="errorInputUserData"></div>
  <br />
  <div class="options">
    <div id="data" *ngFor="let element of data">
      <div *ngIf="element.changeable; else notDirectlyChangeable">
        <mat-form-field>
          <mat-label>{{ element.name }}</mat-label>
          <input matInput id="id{{ element.name }}" type="{{ element.type }}" value="{{ element.value }}" />
        </mat-form-field>
      </div>
      <ng-template #notDirectlyChangeable>
        <mat-form-field>
          <mat-label>{{ element.name }}</mat-label>
          <input matInput id="id{{ element.name }}" type="{{ element.type }}" value="{{ element.value }}" readonly />
        </mat-form-field>
      </ng-template>
    </div>
  </div>
  <br /><br />
  <div class="optionsHeadline">
    Adressdaten
  </div>
  <br />
  <div id="errorInputAddressData"></div>
  <br />
  <div class="options">
    <div id="data">
    <mat-form-field>
      <mat-label>{{ getStreetAndNumber().name1 }}</mat-label>
      <input matInput id="idAddressStreet" type="text" value="{{ getStreetAndNumber().value1 }}" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ getStreetAndNumber().name2 }}</mat-label>
      <input matInput id="idAddressStreetNumber" type="text" value="{{ getStreetAndNumber().value2 }}" />
    </mat-form-field>
  </div><br />
  </div>
  <div class="options">
    <div id="data">
      <mat-form-field>
        <mat-label>{{ getPostCodeAndCity().name1 }}</mat-label>
        <input matInput id="idAddressPostCode" type="text" value="{{ getPostCodeAndCity().value1 }}" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ getPostCodeAndCity().name2 }}</mat-label>
        <input matInput id="idAddressCity" type="text" value="{{ getPostCodeAndCity().value2 }}" />
      </mat-form-field>
    </div>
  </div>
  <div class="options">
    <div id="data">
      <mat-form-field>
        <mat-label>{{ getCountryAndState().name1 }}</mat-label>
        <input matInput id="idAddressCountry" type="text" value="{{ getCountryAndState().value1 }}" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ getCountryAndState().name2 }}</mat-label>
        <input matInput id="idAddressState" type="text" value="{{ getCountryAndState().value2 }}" />
      </mat-form-field>
    </div>
  </div>
  <br /><br />
  <div class="optionsHeadline">
    Verf&uuml;gbare Zeiten
  </div>
  <br /><br />
  <div class="options">
    <div id="data">
      <mat-form-field>
        <mat-label>{{ getAvailableTime().name1 }}</mat-label>
        <input matInput id="idTimeFrom" type="text" value="{{ getAvailableTime().value1 }}" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ getAvailableTime().name2 }}</mat-label>
        <input matInput id="idTimeTo" type="text" value="{{ getAvailableTime().value2 }}" />
      </mat-form-field>
    </div>
  </div>
  <br />
  <div class="options">
    <div id="data">
      <mat-label>Passwort</mat-label>
      <br /><br />
      <button mat-raised-button (click)="updatePassword()">&Auml;ndern</button>
    </div>
  </div>
  <br /><br /><br />
  <div id="errorInput"></div>
  <div align="center">
    <button mat-raised-button color="accent" (click)="checkInput()">Speichern</button>
  </div>
</div>

