<div>
  <h2 class="bucketHeadline">Eimer</h2>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-action-list role="contentinfo">
    <h2 class="myBuckets" matSubheader>Meine Eimer</h2>
    <button [ngStyle]="{background: (clickedItem === bucket.id || hoveredOverItem === bucket.id && hover==true) ? 'lightgrey' : 'white'}"
            style="cursor: pointer"
            (pointerover)="pointerOver(bucket.id)"
            (pointerleave)="pointerLeave()"
            (click)="selectBucket(bucket.id, bucket)"
            mat-list-item *ngFor="let bucket of buckets">
      <mat-icon class="info" *ngIf="bucket.reserved" matTooltip="Dieser Eimer wird bereits geleert!"
                [matTooltipShowDelay]="100"
                [matTooltipHideDelay]="0">info</mat-icon>
      <mat-icon class="warn" *ngIf="(!bucket.reserved && bucket.frogAmount >= 1)" matTooltip="Dieser Eimer muss geleert werden!"
                [matTooltipShowDelay]="100"
                [matTooltipHideDelay]="0">warning</mat-icon>
      <h4 matLine>Eimer '{{bucket.id}}'</h4>
      <p matLine>
        <span>{{bucket.frogAmount}}/{{ bucket.frogAmountMax}} Kröten</span>
      </p>
      <p matLine>
        <span> Lat.: {{bucket.position.latitude}}</span>
      </p>
      <p matLine>
        <span> Long.: {{bucket.position.longitude}}</span>
      </p>
      <mat-divider></mat-divider>
    </button>
    <h2 class="allBuckets" matSubheader>Alle Eimer</h2>
    <button [ngStyle]="{background: (clickedItem === bucket.id || hoveredOverItem === bucket.id && hover==true) ? 'lightgrey' : 'white'}"
            style="cursor: pointer"
            (pointerover)="pointerOver(bucket.id)"
            (pointerleave)="pointerLeave()"
            (click)="selectBucket(bucket.id, bucket)"
            mat-list-item *ngFor="let bucket of buckets">
      <mat-icon class="info" *ngIf="bucket.reserved" matTooltip="Dieser Eimer wird bereits geleert!"
                [matTooltipShowDelay]="100"
                [matTooltipHideDelay]="0">info</mat-icon>
      <mat-icon class="warn" *ngIf="(!bucket.reserved && bucket.frogAmount >= 1)" matTooltip="Dieser Eimer muss geleert werden!"
                [matTooltipShowDelay]="100"
                [matTooltipHideDelay]="0">warning</mat-icon>
      <h4 matLine>Eimer '{{bucket.id}}'</h4>
      <p matLine>
        <span>{{bucket.frogAmount}}/{{ bucket.frogAmountMax}} Kröten</span>
      </p>
      <p matLine>
        <span> Lat.: {{bucket.position.latitude}}</span>
      </p>
      <p matLine>
        <span> Long.: {{bucket.position.longitude}}</span>
      </p>
      <mat-divider></mat-divider>
    </button>
  </mat-action-list>
</div>
