<div>
  <h2 class="bucketHeadline">Eimer</h2>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-action-list role="contentinfo">
    <h2 class="myBuckets" matSubheader>Meine Eimer</h2>
    <button [ngStyle]="{background: (clickedItem === bucket.id || hoveredOverItem === bucket.id && hover==true) ? 'lightgrey' : 'white'}" style="cursor: pointer" (pointerover)="pointerOver(bucket.id)" (pointerleave)="pointerLeave()" (click)="selectBucket(bucket.id, bucket)" mat-list-item *ngFor="let bucket of buckets">
      <mat-icon>warning</mat-icon>
      <h4 matLine>Eimer '{{bucket.id}}'</h4>
      <p matLine>
        <span>{{bucket.currentFrogs}}/{{ bucket.maxFrogs}} Kröten</span>
      </p>
      <p matLine>
        <span> Lat.: {{bucket.position.latitude}}</span>
      </p>
      <p matLine>
        <span> Long.: {{bucket.position.longitude}}</span>
      </p>
      <mat-divider></mat-divider>
    </button>
    <h2 class="allBuckets" matSubheader>Alle Eimer</h2>
    <button [ngStyle]="{background: (clickedItem === bucket.id || hoveredOverItem === bucket.id && hover==true) ? 'lightgrey' : 'white'}" style="cursor: pointer" (pointerover)="pointerOver(bucket.id)" (pointerleave)="pointerLeave()" (click)="selectBucket(bucket.id, bucket)" mat-list-item *ngFor="let bucket of buckets">
      <mat-icon>warning</mat-icon>
      <h4 matLine>Eimer '{{bucket.id}}'</h4>
      <p matLine>
        <span>{{bucket.currentFrogs}}/{{ bucket.maxFrogs}} Kröten</span>
      </p>
      <p matLine>
        <span> Lat.: {{bucket.position.latitude}}</span>
      </p>
      <p matLine>
        <span> Long.: {{bucket.position.longitude}}</span>
      </p>
      <mat-divider></mat-divider>
    </button>
  </mat-action-list>
</div>
