<div>
  <h2>Eimer</h2>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-action-list role="contentinfo">
    <h2 class="myBuckets" matSubheader>Meine Eimer</h2>
    <mat-list-item *ngFor="let bucket of buckets">
      <mat-icon matListIcon>warning</mat-icon>
      <h4 matLine> {{bucket.currentFrogs}}/{{ bucket.maxFrogs}} Kröten in [TODO: Entfernung errechnen?] </h4>
      <p matLine>
        <span> Standort: {{bucket.position.latitude}},{{bucket.position.longitude}}</span>
      </p>
      <mat-divider></mat-divider>
    </mat-list-item>
    <h2 class="allBuckets" matSubheader>Alle Eimer</h2>
    <mat-list-item *ngFor="let bucket of buckets">
      <mat-icon matListIcon>warning</mat-icon>
      <h4 matLine> {{bucket.currentFrogs}}/{{ bucket.maxFrogs}} Kröten in [TODO: Entfernung errechnen?] </h4>
      <p matLine>
        <span> Standort: {{bucket.position.latitude}},{{bucket.position.longitude}}</span>
      </p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-action-list>
</div>
