<div>
  <div id="errorOldPassword"></div>
  <mat-form-field class="options">
    <mat-label>Altes Passwort</mat-label>
    <input matInput id="oldPassword" type="password" />
  </mat-form-field>
  <br />
  <mat-form-field class="options">
    <mat-label>Neues Passwort</mat-label>
    <input matInput id="newPassword" type="password" />
  </mat-form-field>
  <div id="errorNewPassword"></div>
  <mat-form-field class="options">
    <mat-label>Neues Passwort wiederholen</mat-label>
    <input matInput id="newPasswordRepeat" type="password" />
  </mat-form-field>
  <br />
  <button mat-raised-button class="btn" color="accent" (click)="checkPassword()">Speichern</button>
  <br />
  <button mat-raised-button class="btn" (click)="backToSettings()">Zur&uuml;ck</button>
</div>
