<div>
  <div id="errorOldPassword"></div>
  <input type="password" id="oldPassword" placeholder="Altes Passwort" />
  <br /><br />
  <input type="password" id="newPassword" placeholder="Neues Passwort" />
  <br />
  <div id="errorNewPassword"></div>
  <input type="password" id="newPasswordRepeat" placeholder="Neues Passwort wiederholen" (change)="checkNewPassword()" />
  <br />
  <input type="button" value="Speichern" (click)="checkOldPassword()"/>
  <br />
  <input type="button" value="Zur&uuml;ck" (click)="backToSettings()" />
</div>
