#errorOldPassword, #errorNewPassword{
  margin-left: 15%;
  font-size: 0.85em;
  color: #d40000;
  flex-basis: auto;
}

input{
  flex-basis: auto;
  width: 75%;
  padding: 12px 20px;
  margin-left: 15%;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus{
  border-color: #204d74;
}

input:hover{
  color: #337ab7;
  background-color: #fff;
}
