#errorOldPassword, #errorNewPassword{
  margin-left: 45%;
  font-size: 0.85em;
  color: #d40000;
  flex-basis: auto;
}

/*input{
  flex-basis: auto;
  width: 75%;
  padding: 12px 20px;
  margin-left: 15%;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus{
  border-color: #204d74;
}

input:hover{
  color: #337ab7;
  background-color: #fff;
}*/

.options{
  display: flex;
  font-size: 1.5em;
  text-align: left;
  margin-left: 45%;
}

.btn{
  display: flex;
  font-size: 1.0em;
  text-align: left;
  margin-left: 45%;
}
