#errorOldPassword, #errorNewPassword{
  margin-left: 45%;
  font-size: 0.85em;
  color: #d40000;
  flex-basis: auto;
}

.options{
  display: flex;
  font-size: 1.5em;
  text-align: left;
  margin-left: 45%;
}

.btn{
  display: flex;
  font-size: 1.0em;
  text-align: left;
  margin-left: 45%;
}
