<div>
  <div id="errorOldPassword"></div>
  <mat-form-field class="options">
    <mat-label>Altes Passwort</mat-label>
    <input matInput id="oldPassword" type="password" />
  </mat-form-field>
  <!--<input type="password" id="oldPassword" placeholder="Altes Passwort" />-->
  <br />
  <mat-form-field class="options">
    <mat-label>Neues Passwort</mat-label>
    <input matInput id="newPassword" type="password" />
  </mat-form-field>
  <!--<input type="password" id="newPassword" placeholder="Neues Passwort" />-->
  <div id="errorNewPassword"></div>
  <mat-form-field class="options">
    <mat-label>Neues Passwort wiederholen</mat-label>
    <input matInput id="newPasswordRepeat" type="password" />
  </mat-form-field>
  <!--<input type="password" id="newPasswordRepeat" placeholder="Neues Passwort wiederholen" (change)="checkNewPassword()" />-->
  <br />
  <button mat-raised-button class="btn" (click)="checkOldPassword()">Speichern</button>
  <br />
  <!--<input type="button" value="Speichern" (click)="checkOldPassword()"/>-->
  <button mat-raised-button class="btn" (click)="backToSettings()">Zur&uuml;ck</button>
  <!--<input type="button" value="Zur&uuml;ck" (click)="backToSettings()" />-->
</div>
