<div fxLayout="row">

  <div fxLayout="column" class="panel">

        <mat-accordion>

        <mat-expansion-panel *ngFor="let location of locations;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{location.locationInfo.uuid}}
            </mat-panel-title>
            <mat-panel-description>
              {{ location.locationInfo.street}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Straße</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Länge</mat-label>
            <input matInput>
          </mat-form-field>
          <button mat-button color="primary" (click)="onEditBucketsClick(location)">Bearbeiten</button>
          <mat-list>
            <mat-list-item *ngFor="let bucket of location.buckets;">
              <h1>{{bucket.id}}</h1>
              <button mat-button color="primary" (click)="onEditBucketClick(bucket)">Bearbeiten</button>
              <div *ngIf="currentBucket!=null && bucket.id == currentBucket.id">
                <mat-form-field matLine>
                  <mat-label>ID</mat-label>
                  <input matInput>
                </mat-form-field>
                <mat-form-field matLine>
                  <mat-label>maximale Froschanzahl</mat-label>
                  <input matInput>
                </mat-form-field>
                <mat-form-field matLine>
                  <mat-label>Latitude</mat-label>
                  <input matInput>
                </mat-form-field>
                <mat-form-field matLine>
                  <mat-label>Longitude</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
  </div>

  <div class="map-wrapper">
    <app-map></app-map>
  </div>
</div>
