<div fxLayout="row">

  <div fxLayout="column" class="panel">

        <mat-accordion>

        <mat-expansion-panel *ngFor="let location of locations;" [(expanded)]="location.expanded" (opened)="panelOpened(location)" (closed)="panelClosed(location)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{location.chipId}}
            </mat-panel-title>
            <mat-panel-description>
              {{ location.street}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <mat-label>ChipId</mat-label>
            <input id="input_location_chipId" matInput [value]="location.chipId" (input)="onInput($event)">
          </mat-form-field>

            <mat-form-field *ngIf="editedLocation!=null">
              <mat-label>Station</mat-label>
              <mat-select [(value)]="this.editedLocation.stationId">
                <mat-option *ngFor="let stationId of stationIds" [value]="stationId">
                  {{stationId}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <mat-form-field>
            <mat-label>Stadt</mat-label>
            <input id="input_location_city" matInput [value]="location.city" (input)="onInput($event)">
          </mat-form-field>
            <mat-form-field>
            <mat-label>State</mat-label>
            <input id="input_location_state" matInput [value]="location.state" (input)="onInput($event)">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Länge</mat-label>
            <input matInput id="input_location_length" [value]="location.routeLength" (input)="onInput($event)">
          </mat-form-field>
          <button *ngIf="!editingRoutePoints && !editingBuckets" mat-raised-button color="primary" (click)="onEditRoutePoints()">Bearbeite Standortverlauf</button>
          <div *ngIf="editingRoutePoints && editedLocation==location">
            <div cdkDropList class="example-list" (cdkDropListDropped)="reorderedPoints($event)">
              <div fxLayout="row" *ngFor="let point of createdRoutePoints" cdkDrag (mousedown)="onPositionClick(point)">
                <button mat-icon-button (click)="onDeletePoint()"><mat-icon>delete</mat-icon></button>
                <mat-form-field>
                  <mat-label>Longitude</mat-label>
                <input id="input_point_latitude" matInput [value]="point.latitude" (input)="onInputPoint($event)">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Latitude</mat-label>
                  <input id="input_point_longitude" matInput [value]="point.longitude" (input)="onInputPoint($event)">
                </mat-form-field>
                <button mat-icon-button><mat-icon>drag_indicator</mat-icon></button>
              </div>
            </div>
            <div fxLayout="column">
              <button mat-icon-button (click)="onAddPoint()"><mat-icon>add</mat-icon></button>
            <button mat-raised-button color="primary" (click)="savePoints()">Speicher Punkte</button>
            </div>
          </div>

          <button *ngIf="!editingRoutePoints && !editingBuckets" mat-raised-button color="primary" (click)="onEditBucketsClick()">Bearbeite Eimer</button>
          <div *ngIf="editingBuckets && editedLocation==location">
            <mat-action-list>

              <mat-list-item *ngFor="let bucket of createdBuckets;">
                <div fxLayout="row">
              <button (click)="onEditBucketClick(bucket)">


                <h3 *ngIf="currentBucket==null || bucket.id != currentBucket.id">{{bucket.id}}</h3>

                <div *ngIf="currentBucket!=null && bucket.id == currentBucket.id" (input)="onInput($event)">
                  <mat-form-field matLine>
                    <mat-label>ChipId</mat-label>
                    <input id="input_bucket_chipId" matInput [value]="currentBucket.chipId" (input)="onInput($event)">
                  </mat-form-field>
                  <mat-form-field matLine>
                    <mat-label>Name</mat-label>
                    <input id="input_bucket_name" matInput [value]="currentBucket.name" (input)="onInput($event)">
                  </mat-form-field>
                  <mat-form-field matLine>
                    <mat-label>maximale Froschanzahl</mat-label>
                    <input id="input_bucket_maxFrogs" type="number" matInput [value]="currentBucket.frogAmountMax" (input)="onInput($event)">
                  </mat-form-field>
                  <mat-form-field matLine>
                    <mat-label>Latitude</mat-label>
                    <input id="input_bucket_latitude" matInput [value]="currentBucket.position.latitude" (input)="onInput($event)">
                  </mat-form-field>
                  <mat-form-field matLine>
                    <mat-label>Longitude</mat-label>
                    <input id="input_bucket_longitude" matInput [value]="currentBucket.position.longitude" (input)="onInput($event)">
                  </mat-form-field>
                </div>
              </button>
                <button class="delete" mat-icon-button (click)="onDeleteBucket()"><mat-icon>delete</mat-icon></button>
              </div>
            <mat-divider></mat-divider>
            </mat-list-item>
              <mat-list-item>
              <button mat-icon-button matLine (click)="onNewBucket()">
                <mat-icon>add</mat-icon>
              </button>
              </mat-list-item>
            </mat-action-list>
            <button mat-raised-button color="primary" (click)="saveBuckets()">Speicher Eimer</button>
          </div>
        </mat-expansion-panel>
          <button mat-raised-button color="primary" (click)="onNewLocationClick()">Füge neue Location hinzu</button>
          <button mat-raised-button color="primary" (click)="onSave()">Speichern</button>
      </mat-accordion>
  </div>

  <div class="map-wrapper">
    <app-admin-map></app-admin-map>
  </div>
</div>
