<mat-toolbar class="mat-elevation-z2">
  <a routerLink="/" mat-button>
    <img src="assets/logo.png" width="125px" />
  </a>

  <!-- This fills the remaining space of the current row -->
  <span class="spacer"></span>

  <a routerLink="/" mat-button>
    <mat-icon>home</mat-icon>
    Home
  </a>
  <a *ngIf="isAdmin" routerLink="/Administraiton" mat-button>
    <mat-icon>account_circle</mat-icon>
    Adminstration
  </a>
  <a routerLink="/settings" mat-button>
    <mat-icon>settings</mat-icon>
    Einstellungen
  </a>

  <button mat-button (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
