.panel {
    height: 100%;
    width: 100%;
    background-color: white;
}
.content {
    padding: 1em;
}
#close {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    cursor: pointer;
}

.bucketHeadline{
  color: red;
}
