<div *ngIf="selectedBucket != null" class="panel">
    <div class="content">
        <h1>
            Eimer {{ selectedBucket?.id }}
        </h1>
        <h3>
            Ort: {{ selectedBucket?.locationId }}
        </h3>
        <h3>
            Koordinaten
        </h3>
        <h4>Latitude: {{ selectedBucket?.position?.latitude }} </h4>
        <h4>Longitude: {{ selectedBucket?.position?.longitude }} </h4>
        <h3>Frösche/Kapazität: {{ selectedBucket?.currentFrogs }}/{{ selectedBucket?.maxFrogs }} </h3>
        <p id="close" (click)="closeSideBar()">Schließen</p>
    </div>
</div>
