.panel {
  height: 100%;
  width: 100%;
  background-color: white;
}

.content {
  padding: 1em;
}

#close {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  cursor: pointer;
}

#reserve {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.bucketHeadline {
  color: red;
}

.info {
  color: cyan;
  text-shadow: 0 0 3px #000;
}

.warn {
  color: red;
}

.with-icon {
  display: flex;
  align-items: center;
}

.text-with-icon {
  margin-left: 0.5em;
}
