.test_center{
  padding-left: 40%;
  padding-right: 40%;
}

.login_form{
  position: center;
  padding-top: 15%;
  display: flex;
  flex-direction: column;
}
.login_wrapper{
  position: center;
  display: flex;
  flex-direction: column;
}
.button_wrapper{
  position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#login_button{
  margin-top: 1.5em;
}
#register_button{
  margin-top: 0.5em;
}



