
<form id="login_form" (submit)="loginUser($event)">
<div class="login_wrapper">
    <div class="username_wrapper"><input type="text" placeholder="Email" id="username"></div>
    <div class="password_wrapper"><input type="password" placeholder="Password" id="password"></div>
    <div class="login_btn_wrapper">
        <input type="submit" value="Login" id="login_button">
    </div>
    <div class="register_btn_wrapper">
        <input type="button" value="Registrieren" id="register_button">
    </div>
</div>
</form>


