<!-- start login page-->
<div class="test_center">
  <form class="login_form" style="display: block">
    <div class="login_wrapper">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="max.m@example.com">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Passwort</mat-label>
        <input matInput type="password" id="input_password" #setPassword minlength="5">
      </mat-form-field>
    </div>
    <div class="button_wrapper">
      <div class="login_btn_wrapper">
        <button mat-raised-button color="accent" id="login_button" (click)="onClickLogin()">Login</button>
      </div>
      <div class="register_btn_wrapper">
        <button mat-raised-button color="accent" id="register_button" (click)="onClickRegister()">Registrieren</button>
      </div>
    </div>
  </form>
</div>


